<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <!-- this is just for testing. no emails are sent-->
  <add key="FacebookAppId" value="1520224024680795"/>
  <add key="FacebookAppSecret" value="35c05002c67113a325b23b128f544dec"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>